/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
 background-image: ;
 
}

nav {
  background-color: orangered;
  color: white;
  padding: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.page {
  display: none;
  padding: 20px;
  text-align: center;
}

#home {
  display: block;
  background-image: url(images/home.jpg);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

form input, form select, form textarea, form button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #333;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#user-progress {
  margin-top: 20px;
  font-size: 1.2rem;
  background-image: url(images/stuv.jpg);
}
